{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block body %}

   <h1>This is our home page</h1>
   <p>Welcome to home page</p>
   <h1>My name is {{name}}</h1>

   <h1>Newses for the year {{year}}</h1>

   {% for news in list %}

   <h2>{{news.author}}</h2>
   <h2>{{news.title}}</h2>
   <p>{{news.description}}</p>
   <h4>{{news.fun_date}}</h4>

   {% endfor %}

   <button type="button" class="btn btn-primary">Primary</button>
   <button type="button" class="btn btn-secondary">Secondary</button>
   <button type="button" class="btn btn-success">Success</button>
   <button type="button" class="btn btn-danger">Danger</button>
   <button type="button" class="btn btn-warning">Warning</button>
   <button type="button" class="btn btn-info">Info</button>
   <button type="button" class="btn btn-light">Light</button>
   <button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

{% endblock %}